<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <group groupName="ExperienceProfileAggregateViews">
        <pipelines>
          <latest-visitors>
            <!--<processor type="ContactFacets.POC.Pipelines.Dashboard.ConstructVisitorsDataTable, ContactFacets.POC"
                       patch:after="processor[@type='Sitecore.Cintel.Reporting.Aggregate.Visitors.Processors.ConstructVisitorsDataTable, Sitecore.Cintel']"/>-->
            
            <processor type="ContactFacets.POC.Pipelines.Dashboard.QueryLatestVisitorsFromSearch, ContactFacets.POC" 
                       patch:after="processor[@type='Sitecore.Cintel.Reporting.Aggregate.Visitors.Processors.QueryLatestVisitorsFromSearch, Sitecore.Cintel']"/>
            
            <!--<processor type="ContactFacets.POC.Pipelines.Dashboard.ConstructVisitorsDataTable, ContactFacets.POC"/>-->
            <!--<processor type="ContactFacets.POC.Pipelines.Dashboard.ApplySorting, ContactFacets.POC"/>-->
            <!--<processor type="ContactFacets.POC.Pipelines.Dashboard.ApplyPaging, ContactFacets.POC"/>-->
            <!--<processor type="Sitecore.Cintel.Reporting.Aggregate.Visitors.Processors.ConstructVisitorsDataTable, Sitecore.Cintel" patch:source="Sitecore.ExperienceProfile.Reporting.config"/>-->
            <!--<processor type="Sitecore.Cintel.Reporting.Aggregate.Visitors.Processors.QueryLatestVisitorsFromSearch, Sitecore.Cintel" patch:source="Sitecore.ExperienceProfile.Reporting.config"/>-->
            <!--<processor type="Sitecore.Cintel.Reporting.Processors.ApplySorting, Sitecore.Cintel" patch:source="Sitecore.ExperienceProfile.Reporting.config"/>-->
            <!--<processor type="Sitecore.Cintel.Reporting.Processors.ApplyPaging, Sitecore.Cintel" patch:source="Sitecore.ExperienceProfile.Reporting.config"/>-->
          </latest-visitors>
        </pipelines>
      </group>
    </pipelines>
  </sitecore>
</configuration>