<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <model>
      <elements>
        <element interface="ContactFacets.POC.Models.IAIContactPersonalInfo, ContactFacets.POC" implementation="ContactFacets.POC.Models.AIContactPersonalInfo, ContactFacets.POC" />
      </elements>
      <entities>
        <contact>
          <facets>
            <facet name="AIContactPersonalInfo" contract="ContactFacets.POC.Models.IAIContactPersonalInfo, ContactFacets.POC" />
          </facets>
        </contact>
      </entities>
    </model>
    <pipelines>
      <group groupName="ExperienceProfileContactDataSourceQueries">
        <pipelines>
          <ai-query>
            <processor type="ContactFacets.POC.Pipelines.GetAIData, ContactFacets.POC" />
          </ai-query>
        </pipelines>
      </group>
      <group groupName="ExperienceProfileContactViews">
        <pipelines>
          <ai>
            <processor type="ContactFacets.POC.Pipelines.ConstructAIDataTable, ContactFacets.POC" />
            <processor type="Sitecore.Cintel.Reporting.Processors.ExecuteReportingServerDatasourceQuery, Sitecore.Cintel">
              <param desc="queryName">ai-query</param>
            </processor>
            <processor type="ContactFacets.POC.Pipelines.PopulateWithAIData, ContactFacets.POC" />
          </ai>
        </pipelines>
      </group>
    </pipelines>
  </sitecore>
</configuration>
