<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <model>
      <elements>
        <element interface="ContactFacets.POC.Models.IAIContactPersonalInfo, ContactFacets.POC" implementation="ContactFacets.POC.Models.AIContactPersonalInfo, ContactFacets.POC" />
      </elements>
      <entities>
        <contact>
          <facets>
            <facet name="AIContactPersonalInfo" contract="ContactFacets.POC.Models.IAIContactPersonalInfo, ContactFacets.POC" />
          </facets>
        </contact>
      </entities>
    </model>
  </sitecore>
</configuration>
