<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="SITECORE_AI" description="To keep synchronized AI elements into core database. Sitecore uses those elements to show them in Experience Editor.">
          <targetDataStore physicalRootPath="~/$(configurationName)" useDataCache="false" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" singleInstance="true"/>
          <predicate>
            <include name="Sample Layout" database="master" path="/sitecore/layout/Layouts/Sample Layout" />
            <include name="Tab AI" database="core" path="/sitecore/client/Applications/ExperienceProfile/Contact/PageSettings/Tabs/AI" />
            <include name="Search AI" database="core" path="/sitecore/client/Applications/ExperienceProfile/Search/PageSettings/SearchResults/AI" />
            <include name="Visitor AI" database="core" path="/sitecore/client/Applications/ExperienceProfile/Dashboard/PageSettings/LatestVisitors/AI" />
          </predicate>
          <dataProviderConfiguration enableTransparentSync="false" />
          <syncConfiguration updateLinkDatabase="false" updateSearchIndex="false" />
        </configuration>
      </configurations>      
    </unicorn>
  </sitecore>
</configuration>
