<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <model>
      <elements>
        <element interface="SitecoreAI.Models.IAIFacet, SitecoreAI.Models" implementation="SitecoreAI.Models.AIFacet, SitecoreAI.Models" />
      </elements>
      <entities>
        <contact>
          <facets>
            <facet name="AI" contract="SitecoreAI.Models.IAIFacet, SitecoreAI.Models" />
          </facets>
        </contact>
      </entities>
    </model>
    <pipelines>
      <group groupName="ExperienceProfileContactDataSourceQueries">
        <pipelines>
          <ai-query>
            <processor type="SitecoreAI.Pipelines.ExperienceProfile.AI.AIQuery, SitecoreAI.Pipelines" />
          </ai-query>
        </pipelines>
      </group>
      <group groupName="ExperienceProfileContactViews">
        <pipelines>
          <ai>
            <processor type="SitecoreAI.Pipelines.ExperienceProfile.AI.AITableViewDefinition, SitecoreAI.Pipelines" />
            <processor type="Sitecore.Cintel.Reporting.Processors.ExecuteReportingServerDatasourceQuery, Sitecore.Cintel">
              <param desc="queryName">ai-query</param>
            </processor>
            <processor type="SitecoreAI.Pipelines.ExperienceProfile.AI.AITableViewFiller, SitecoreAI.Pipelines" />
          </ai>
        </pipelines>
      </group>
    </pipelines>
  </sitecore>
</configuration>
