<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration>
          <predicate>
            <include name="Style AI" database="core" path="/sitecore/client/Applications/ExperienceProfile/Contact/PageSettings/AITabStyle" />
            <include name="Tab AI" database="core" path="/sitecore/client/Applications/ExperienceProfile/Contact/PageSettings/Tabs/AI" />                        
            <include name="Visitor AI" database="core" path="/sitecore/client/Applications/ExperienceProfile/Dashboard/PageSettings/LatestVisitors/AI" />
            <include name="Search AI" database="core" path="/sitecore/client/Applications/ExperienceProfile/Search/PageSettings/SearchResults/AI" />
          </predicate>          
        </configuration>
      </configurations>      
    </unicorn>
  </sitecore>
</configuration>
