<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <h1>@Html.Sitecore().Field("Text")</h1>
    @Html.Sitecore().Placeholder("MainContent")
</body>
</html>
